auth.zaitsv.dev {
	reverse_proxy forward-auth:8080
}
app-test.zaitsv.dev {
	handle /callback {
		reverse_proxy forward-auth:8080
	}

	forward_auth forward-auth:8080 {
		uri /auth
	}

	respond "hello"
}