auth.zaitsv.dev {
	reverse_proxy forward-auth:8080
}
app-test.zaitsv.dev {
	handle /callback {
		reverse_proxy forward-auth:8080
	}

	handle {
		forward_auth forward-auth:8080 {
			uri /auth
			copy_headers X-Auth-URL
		}

		respond "hello"
	}
}